<!doctype html>
<html lang="en">
  <head>
    <%= partial "partials/meta" %>
    <%= partial "partials/favicon" %>
    <%= stylesheet_link_tag "site" %>
  </head>
  <body>
    <div class="cursor"></div>
    <%= partial "partials/loader" %>
    <%= partial "partials/privacy" %>
    <%= partial "partials/fixed-components" %>
    <%= yield %>
    <%= partial "partials/google-analytics" %>
    <%= partial "partials/js-libraries" %>
    <%= javascript_include_tag "jquery.paroller.min.js" %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
